ansible-core==2.12.2    # see https://pypi.org/project/ansible-core/
ansible-lint==5.3.2     # see https://pypi.org/project/ansible-lint/
pypsrp[credssp]==0.7.0  # see https://pypi.org/project/pypsrp/
